---
import type { GetStaticPaths, GetStaticPathsResult } from "astro";
import capitalize from "lodash/capitalize";

import KeyTerms from "@/components/informative/KeyTerms.astro";
import InformativeLayout from "@/layouts/InformativeLayout.astro";
import { informativeSlug } from "@/lib/constants";
import { computeProvisionTypeLabel } from "@/lib/guidelines";
import {
  detectTechnology,
  formatNormativeContent,
  informativeProvisionSlugRelationMap,
  informativeRelatedTypes,
  processKeyTerms,
  resolveInformativeGroups,
  resolveInformativeGuideline,
  resolveInformativeGuidelines,
  resolveInformativeRequirement,
  resolveInformativeRequirements,
  type InformativeRelatedCollection,
} from "@/lib/informative";

export const getStaticPaths: GetStaticPaths = async () => {
  const paths: GetStaticPathsResult = [];
  for (const group of await resolveInformativeGroups()) {
    for (const guideline of await resolveInformativeGuidelines(group.id)) {
      for (const requirement of await resolveInformativeRequirements(guideline.id)) {
        paths.push({
          params: {
            groupId: group.id,
            guidelineSlug: guideline.id.slice(guideline.id.lastIndexOf("/") + 1),
            requirementSlug: requirement.id.slice(requirement.id.lastIndexOf("/") + 1),
          },
        });
      }
    }
  }
  return paths;
};

const { groupId, guidelineSlug, requirementSlug } = Astro.params;
const guidelineId = `${groupId}/${guidelineSlug}`;
const requirementId = `${groupId}/${guidelineSlug}/${requirementSlug}`;

const guideline = await resolveInformativeGuideline(guidelineId);
if (!guideline) throw new Error(`Unresolvable informative guideline ID: ${guidelineId}`);
const requirement = await resolveInformativeRequirement(requirementId);
if (!requirement) throw new Error(`Unresolvable informative requirement ID: ${requirementId}`);
if (!requirement.rendered || !requirement.normativeEntry.rendered) {
  throw new Error(
    `how-to/[group]/[guideline]: Rendered HTML missing for ${requirement.id}; check for Markdown parse failures earlier in log`
  );
}

const { html, terms } = processKeyTerms(
  formatNormativeContent(requirement.normativeEntry.rendered) + requirement.rendered.html
);

const relatedEntries = informativeProvisionSlugRelationMap[requirementSlug!];
---

<InformativeLayout title={requirement.title} breadcrumbSegments={[guideline, requirement]}>
  <h2>{computeProvisionTypeLabel(requirement.normativeEntry)}</h2>
  <Fragment set:html={html} />
  {
    relatedEntries && Object.entries(relatedEntries).map(([type, entries]) => (
      <h2>{informativeRelatedTypes[type as InformativeRelatedCollection].title}</h2>
      <ul>
        {entries.map((entry) => (
          <li>
            <a
              href={`${import.meta.env.BASE_URL}${informativeSlug}/${
                informativeRelatedTypes[type as InformativeRelatedCollection].slug}/${entry.id}/`}
              set:text={`${capitalize(detectTechnology(entry))}: ${entry.data.title}`}
            />
          </li>
        ))}
      </ul>
    ))
  }
  <KeyTerms terms={terms} />
</InformativeLayout>
