---
import { getEntry, type CollectionEntry } from "astro:content";
import { load } from "cheerio";
import capitalize from "lodash-es/capitalize";

import { computeGuidelineTitle } from "@/lib/guidelines";

interface Props {
  entry: CollectionEntry<"guidelines"> | CollectionEntry<"requirements">;
}

const { entry } = Astro.props;
const idParts = entry.id.split("/");
const parentHowto =
  entry.collection === "requirements"
    ? (await getEntry("guidelines", idParts.slice(0, 2).join("/")))?.data.howto
    : null;
const howtoSlug = entry.data.howto === true ? idParts.slice(-1) : entry.data.howto;
const howtoPath = parentHowto
  ? `${parentHowto === true ? idParts[1] : parentHowto}/${howtoSlug}/`
  : `${howtoSlug}/`;
const baseUrl = "https://w3c.github.io/wcag3/how-to/";

function processHtml() {
  if (!entry.rendered) {
    throw new Error(
      `EntryText: No rendered HTML found for ${entry.id}; check for Markdown parse failures earlier in log`
    );
  }
  const entryHtml = entry.rendered.html;
  const entryTitle = computeGuidelineTitle(entry);

  const doclinks: string[] = [];

  if (howtoSlug) {
    doclinks.push(`
      <p>
        <a href="${baseUrl}${howtoPath}">
          <svg aria-hidden="true" class="i-info">
            <use xlink:href="img/icons.svg#i-info" />
          </svg>
          ${
            entry.collection === "guidelines"
              ? `How to meet ${entryTitle}`
              : `${entryTitle} methods`
          }
        </a>
      </p>`);
  }
  if (entry.collection === "requirements") {
    doclinks.push(`
      <p>
        <a href="https://github.com/w3c/wcag3/issues?q=state%3Aopen%20label%3A%22P%20-%20${
          encodeURIComponent((capitalize(entry.data.issueLabel) || entryTitle).replace(/,/g, ""))
        }%22">
          <svg aria-hidden="true" class="i-list">
            <use xlink:href="img/icons.svg#i-list" />
          </svg>
          ${entryTitle} issues
        </a>
      </p>`);
  }
  if (!doclinks.length) return entryHtml;

  const $ = load(entryHtml, null, false);
  const $wrappableElement = $("p, ul, ol")
    // Exclude nested elements (e.g. inside of a Note)
    .filter((_, el) => !$(el).parent().length)
    .first();
  if (!$wrappableElement.length)
    throw new Error(`${entry.id}: Can't find element to wrap with doclinks`);

  $wrappableElement.wrap(`<div class="body-wrapper"></div>`).after(`
    <aside class="doclinks">
      ${doclinks.join("")}
    </aside>
  `);
  return $.html();
}
---

{
  entry.collection === "requirements" && entry.data.needsAdditionalResearch && (
    <p class="ednote">
      Needs <a href="#additional_research">additional research</a>
    </p>
  )
}
<Fragment set:html={processHtml()} />
