---
import {
  computeGuidelineTitle,
  computeProvisionTypeLabel,
  groupsTree,
} from "@/lib/guidelines";

import EntryText from "./EntryText.astro";
---

{
  groupsTree.map((group) => (
    <section data-status={group.data.status || undefined}>
      <h3>{computeGuidelineTitle(group)}</h3>
      {group.data.guidelines.map((guideline) => (
        <section class="guideline" data-status={guideline.data.status || undefined}>
          <h4>{computeGuidelineTitle(guideline)}</h4>
          <EntryText entry={guideline} />
          {guideline.data.provisions.map((provision) => (
            <section
              class="requirement"
              data-status={provision.data.status}
              data-requirement-type-label={computeProvisionTypeLabel(provision)}
              data-skip={provision.skippable}
            >
              <h5>{computeGuidelineTitle(provision)}</h5>
              <EntryText entry={provision} />
            </section>
          ))}
        </section>
      ))}
    </section>
  ))
}
